[Unit]
Description=AllStarLink Boot Setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/asl3-firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
