[Unit]
Description=AllStarLink Boot Setup
After=network.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/asl3-firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
